body {margin: 0;
      padding: 0;
}

.section_one {background: url(0_KeU1Pte38YuQATNt\ 1.png) no-repeat center;
              background-size: cover;
              height: 70vh;
              width: 100%;
}
.section_two {display: flex;
              justify-content: center;
              padding-top: 100px;
}
.section_two .container {width: 70%;
                         display: flex;
                         justify-content: space-between;
                         flex-wrap: wrap;
}
.section_two img {width: 30%;
                  /* height: 30%; */
                  transition: .25s ease-out;
}
.section_two img:hover {transform: scale(.9);
                        box-shadow: 1px 1px 20px 1px #c7c7c7;
                        transition: .25s ease-out;
}

@media (max-width: 925px) {
    .section_two {padding-top: 30px;
    }
    .section_two .container {width: 100%;
        margin: 10px;
    }
}